langchain
langchain_core
langchain_community
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
langchain-text-splitters
rank-bm25
langchain-groq
python-dotenv
typesense
langchain-huggingface
langchain_openai
langgraph